.hero {
  display: flex;
  flex-direction: column;
  gap: 4em 7rem;
  /* margin: auto; */
  color: var(--color-light);
  text-align: left;

  flex-wrap: wrap;
}

.profile-container {
  max-width: 30%;
  height: fit-content;
  position: sticky;
  top: 100px;
  padding: 2em;
  border-radius: 2em;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-dark);
}

.profile-container p {
  margin: auto;
  text-align: center;
  max-width: 30ch;
  margin-top: 5em;
  font-size: var(--fs-400);
}

@media (max-width: 1009px) {
  .profile-container {
    position: initial;
  }
}

.small-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  min-width: 300px; /* optional safety */
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.me-image {
  width: 100%;
  max-width: 20em;
  aspect-ratio: 1 / 1;
  background-image: url("../assets/me_red.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1em;
}

.small-profile-container h1 {
  font-size: 6rem;
  line-height: 0.6em;
  color: var(--color-light);
  margin: 0;
  padding-bottom: 0.3em;
  width: fit-content;
}

.small-profile-container h1 span {
  color: var(--color-primary);
}

.small-profile-text {
  text-align: left;
  font-size: 1.2rem;
  line-height: normal;
  max-width: 50ch;
}

.numbers-container {
  display: flex;
  gap: 20%;
}

.box {
  padding: 1em 2em;
  /* margin: auto;  */
  border-radius: 0.5em;
}

.box1 {
  background-color: var(--color-primary);
}

.box2 {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.addtional-boxes {
  display: flex;
  justify-content: start;
  gap: 10%;
}
